body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer p {
    margin: 0;
}

.btn-secondary{
    border-radius: 10px;
    padding:3px 10px;
    margin:10px;
    
}
.main{
    position: relative;
     /* width: 200px;
      height: 200px;
       background-color: lightblue; */
        z-index: 1;
}
form{
    position: relative;
    margin-top: 35%;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
    height: 400px;
    z-index: 2; 
    margin-top: -100%; 
    /* margin-left: 50px; */

}
input{
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 15px;
}
.SignUp input{
    margin-bottom: 2px;
}
label{
    font-size: larger;
}
#SignInSubmit,#SignUpSubmit{
    margin-top: 20px;
    width: 80px;
    background-color: black;
    color: white;
    
}
input:hover{
    border-radius: 50px;
}
#SignInSubmit:hover{
    border: 2px solid white;
    background-color: rgb(85, 85, 3);
}
nav{
    height:70px;
    margin:auto;
    align-items: center;
    display:flex;
    justify-content: space-around;
}


 